
.landingText {
  max-width: 800px;
}

.github {
  text-decoration: none;
  cursor: pointer;
  color: rgb(54, 146, 227);
}

.github:after {
  content: "Jason Schwarz";
}

.github:hover:after {
  content: "Check me out on Github";
  color: aliceblue;
}

.background {
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(
    45deg,
    rgb(229, 255, 205) 0%,
    rgb(39, 25, 12) 35%,
    rgb(189, 237, 255) 100%
  );
  width: 100%;
  height: 15rem;
  position: relative;
  padding: 50px;
}


.noDecor {
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(
    180deg,
    rgb(229, 255, 205) 0%,
    rgb(84, 68, 54) 35%,
    rgb(189, 237, 255) 100%
  );
  height: 8rem;
  color: white;
  text-align: center;
  padding: 1rem;
  z-index: 2;
}