
.landingText {
  max-width: 800px;
}

.header{
  border-radius: 1 1 0cm 0cm;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
}


.vernalNav {

  color:cornsilk; 
  text-shadow: 2px 1px 1px rgb(71, 70, 70);
  font-size: 1rem;
  font-family: 'open sans', sans-serif;
  padding-top: 5.9ch;
 

}

.miniHead {
  padding: .5 10px;
  background:linear-gradient(to right, #383838  0%,#212121  100%);
  height: 2.5rem;
  text-shadow: 2px 1px 1px rgb(83, 81, 81);
  border-radius: .5cm .5cm 0cm 0cm;
  box-shadow: .5px .5px 2px rgb(0, 0, 0);
  font-size: 1rem;
  font-family: 'open sans', sans-serif;

}

.miniFoot {
  background:linear-gradient(to right, #383838  0%,#212121  100%) fixed;
  height: 4.8rem;
  text-shadow: 2px 1px 1px rgb(83, 81, 81);
  border-radius: .0cm .0cm .5cm .5cm;
  box-shadow: 2px .6px 1.6px rgb(0, 0, 0);
  font-size: 1rem;
  font-family: 'open sans', sans-serif;
  margin-top: 1.5cm;
  display: flex;

}

.miniHeadText {
  padding-left: .5cm;
  font-size : 1.9rem;
  text-shadow: 2px 1px 1px rgb(98, 94, 73);
}



.vernalIcon{
width: 70px;
height: 80px;
padding-left: 0.2cm;
padding-right: 0.2cm;
padding-top: .6cm;
padding-bottom: .2cm;
}


.homeButton{
  border-radius: .5cm .5cm .5cm .5cm;
  box-shadow: 2px 3px 3px rgb(160, 159, 155);
  display: flex;
}

.background {
  background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-blend-mode: multiply,multiply; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  height: 10rem;
  position: relative;
  padding: 100px;
    height: 200%;
    width: 100%;
    background-position: center;
 

}

.noDecor {
  text-decoration: none;
}



.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 4rem;
  text-align: left;
  text-align-last: justify;
  padding: 1rem;
  z-index: 1;
  border-radius: .1 .1 0cm 0cm;
  box-shadow: 0em 0em .4cm .2cm rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  text-shadow: 0px 0px 0px rgb(39, 54, 48);
  
}

#wrapper{
  margin-left:auto;
    margin-right:auto;
    width:960px;
}